* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "arial", ubuntu;
}



:root {
    --pri-c: #0000FF;
    --snd-1: #1482cc;
    --primary-font: 1rem;

}

body {
    font-size: var(--primary-font);
    background-color: rgb(235, 230, 230);
    overflow-X: hidden;
}


.head {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#hero-vd {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    background-repeat: no-repeat;

}

.desk-navi {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
}

.cta {
    padding: 12px;
    border-radius: 8px;
    border: 2px solid var(--pri-c);
    background-color: transparent;
    color: #fff;
    transition: all 0.5s ease-in-out;
    font-weight: 600;
    font-size: 1.1rem;
}

.cta:hover {
    background-color: var(--pri-c);
}

.desk-navi ul {
    display: flex;
    list-style: none;
    column-gap: 20px;
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: unset;
    font-weight: 600;

}

a:active {
    color: var(--pri-c);
}

.hero-text {
    position: absolute;
    top: 200px;
    /* width: 80%; */
    padding: 0 10%;
}

#hero-h1 {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 40px;
}

.hero-text h2 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.hero-text h2::after {
    content: " ";
    background-color: var(--pri-c);
    padding: 5px;
    margin-left: 10px;
    font-size: 3rem;
    animation: heroanitext 5s infinite ease-in-out;
}

@keyframes heroanitext {

    0% {
        content: "DEVELOP";
    }

    60% {
        content: "DESIGN";
    }

    100% {
        content: "PROMOTE";
    }

}

.mobile-nav {
    display: none;
}

/* mobile header */






@media(max-width:900px) {

    .desk-navi {
        display: none;
    }

    .mobile-nav {
        display: flex;
        position: absolute;
        top: 0px;
        width: 100%;
        padding: 0px 5%;
        justify-content: space-between;
    }

    .hambuger-cont ul {
        background-color: white;
        color: var(--pri-c);
        list-style: none;
        height: 100vh;
        padding: 10px;
        position: absolute;
        right: 0;
        width: 200px;
        top: 0;
        z-index: 20;
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .hambuger-cont ul.show {
        display: block;
    }

    .hambuger-cont ul li {
        margin-left: 20px;
        line-height: 2;
    }

    .toggle-bar {
        position: relative;
        left: -20px;
        z-index: 100;
    }

    .toggle-bar .fa-bars {
        font-size: 2rem;
        background-color: #fff;
        padding: 5px 8px;
        border-radius: 5px;
    }



    .hero-text {
        position: absolute;
        top: 150px;
        padding: 0 5%;
    }

    #hero-h1 {
        font-size: 1.4rem;
        color: #fff;
        margin-bottom: 40px;
    }

    .hero-text h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .hero-text h2::after {
        font-size: 2rem;
    }

    #hero-vd {
        height: 80vh;
        position: absolute;
        top: 0;
    }

    .head {
        height: 80vh;
    }

}








/* .......tech tools */


.tools-cont {
    padding: 0 10%;
    text-align: center;
}

.tools-class {
    display: flex;
    column-gap: 20px;
    margin: 20px 0;
}

.tools-class div {
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.tools-class div img {
    width: 70%;
    object-fit: contain;
}


@media (max-width:768px){
    .tools-cont{
        padding: 0 5%;
    }

    .tools-class div{
        height: auto;
        width: 200px;
        padding :10px;
    }

    .tools-class div img {
    width: 100%;
    object-fit: contain;
}

}














/* header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 10%;
    margin: 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.247);
    position: sticky;
    z-index: 100;
    top: 0;
    font-weight: 600;


}

.nav-links {
    display: flex;
    column-gap: 10%;
    background-color: white;

}

.nav-links h3:hover {
    color: black;
}

a {
    text-decoration: none;
    color: unset;
    font-weight: 600;

}

a:active {
    color: var(--pri-c);
} */

/* navigation sections */


/* .mobile-nav {
    display: none;
} */



/* hero section */
/* .hero-img {
    background-image: url(images/rear\ \(1\).jpg);
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin-bottom: 20px;
}

.hero-overlay {
    background-image: linear-gradient(to right, rgba(165, 42, 42, 0.49), #0000ff1c);
    height: auto;
    width: 100%;
    align-content: center;
    padding: 50px 10%;
}

.fa-solid {
    color: white;
}

.hero-text h2 {
    font-size: 2rem;
    color: var(--pri-c);
}

.hero-text h1 {
    font-size: 4rem;
}

#Trust {
    margin-top: 40px;
    font-size: 1rem;
}

#lut2 {
    color: var(--pri-c);
    background-color: white;
    padding: 3px;
}

.scale-text {
    color: var(--pri-c);
    animation: scale-text 2s linear infinite
}

.btn-gradient {
    background-image: linear-gradient(260deg, #0000FF, white);
    padding: 4px;
    border-radius: 8px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;

}

.inner-gradient {
    background-color: var(--pri-c);
    height: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}


.social-links {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: fixed;
    padding: 6px 5px;
    top: 60vh;
    right: 5px;
    z-index: 100;
    border-radius: 5px;
}

h3 {
    text-align: center;
    color: var(--pri-c);
}

@keyframes scale-text {

    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.ani-cards-section {
    overflow-x: hidden;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ani-cards {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0 5%;
    animation: ani-cards 20s ease-in-out alternate-reverse infinite;
}

@keyframes ani-cards {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(50%);
    }
}

.ani-cards div {
    background-color: white;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
}
 */


/* abouts us section */


.social-links {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: fixed;
    padding: 6px 5px;
    top: 60vh;
    right: 5px;
    z-index: 100;
    border-radius: 5px;
}

.About-us p::first-letter {
    font-size: 1.5rem;

}

.About-us {
    display: flex;
    margin: 50px 10%;
    line-height: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    text-align: center;
    margin-bottom: 20px;
}




/* card services area */
.service-card-info-section {
    margin: 50px auto;
    padding: 0 20%;

}

.service-card {

    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.service-card-info {
    width: 200px;
    height: 200px;
    background-color: white;
    margin-top: 50px;
    border-top-left-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 10px 5px 10px;
    margin-bottom: 40px;
    transition: all 1s;

}

.service-card-info:hover {
    transform: scale(1.1);
}

.top-info {
    height: 50px;
    width: 50px;
    background-color: var(--pri-c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    color: white;
    position: absolute;
    top: -30px;
    left: auto;
    font-size: 1.8rem;
    margin-bottom: 40px;

}


.service-card-info h4 {
    color: var(--pri-c);

}



/* portfolio section */


.port-section {
    background-color: var(--pri-c);
    color: white;
    padding: 10px 10%;
}

.white-border-port {
    padding: 5%;
    border: 5px solid white;
    margin: 20px 0;
}

.main-port-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 20px 50px;
}

.main-port-img {
    background-color: white;
    height: 200px;
    width: 250px;
    color: red;
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}


.website-img {
    width: 100%;
    height: 90%;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(images/website-ref\ \(1\).jpg);
}

.flyer-img {
    width: 100%;
    height: 90%;
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
    background-image: url(images/Lutsub.png);
    ;
}

.marketing-img {
    width: 100%;
    height: 90%;
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
    background-image: url(images/analysis\ \(1\).jpg);
}

.logo-img {
    width: 100%;
    height: 90%;
    background-position: top;
    background-size: contain;
    background-repeat: repeat;
    background-image: url(images/logo-screnshoot.png);
}


.why-choose-us {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}


.why-choose-us-flex {

    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.why-us-card {
    padding: 20px;
    justify-items: center;
    background-color: white;
    width: 250px;
    height: auto;
    /* border-bottom-left-radius: 20%; */
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.105);
    transition: all 1s;
    align-content: center;
}

.why-us-card:hover {
    transform: scale(1.1);
}


.why-background {
    background-color: var(--pri-c);
    height: 100px;
    width: 100px;
    border-radius: 100%;
}


.why-background2 {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    justify-self: center;
    text-align: center;
    align-content: center;
}


.call-to-act {
    border-top: 2px solid var(--pri-c);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* footer section */
footer {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 5% 10%;
}


.footer-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    line-height: 40px;
    margin-bottom: 40px;
}


.footer-grid form {
    display: flex;
    height: 30px;
}

.footer-grid form button {
    background-color: var(--pri-c);
    color: white;
    padding: 0 10px;
    height: 100%;
    border: none;
}

#subscribe-text {
    line-height: 20px;
}





/* mobile section */
@media(max-width:650px) {
    .mobile-contact-btn {
        display: flex;
    }

    .hero-img a .mobile-btn-margin {
        margin-top: 10px;

    }

    /* .mobile-contact-btn :nth-last-of-type(2) {
        margin-top: 10px;
    } */

    /* .hero-img,
    .hero-overlay {
        height: 100vh;
    } */

    .hero-overlay {
        padding: 70px 5%;

    }

    .fa-solid {
        color: var(--pri-c);
        font-size: 1.5rem;
    }

    .mobile-nav {
        display: block;
    }

    .desk-nav {
        display: none;
    }

    .ani-cards div {
        height: 80px;
        max-width: 120px;
        padding: 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-text h1 {
        font-size: 4rem;
    }

    #Trust {
        font-size: 0.7rem;
    }

    .flex-port {
        flex-direction: column;
        align-items: center;
    }

    .big-port {
        width: 100%;
        background-size: cover;
    }

    .small-port {
        width: 100%;
    }

    .footer-grid div {
        width: auto;
        font-size: 0.8rem;
    }

    footer {
        padding: 5%;
    }


    .why-choose-us {
        padding: 0 5%;
    }

    .why-us-card h3 {
        font-size: 0.9rem;
    }

    .why-us-card {
        height: auto;
        width: 46%;
        gap: 10px;
        padding: 3% 4%;
        font-size: 0.9rem;
    }

    .why-us-text {
        text-align: center;
        line-height: 22px;
    }

    .call-to-act {
        padding: 10px;
        text-align: center;
        font-size: 0.9rem;
    }

    .About-us {
        margin: 30px 5%;
    }

    .service-card-info {
        width: 80%;
    }

    .service-card-info-section {
        padding: 0 5%;
    }
}

/* tablet section */

@media (max-width:960px) {
    .desk-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 5%;
    }

    .mobile-links ul li {
        font-size: 1.5rem;
    }

    .mobile-links {
        background-color: rgba(255, 255, 255, 0.894);
        list-style: none;
        position: absolute;
        right: 1%;
        top: 5px;
        width: 200px;
        height: 90vh;
        line-height: 3;
        padding: 20px 20px;
        backdrop-filter: blur(40px);
    }

    .mobile-links .fa-solid {
        font-size: 2rem;
        color: var(--pri-c);
    }


    .mobile-links a {
        color: var(--pri-c);
        display: block;
        font-weight: 500;
    }

    .mobile-links a:hover {
        background-color: var(--snd-1);
        color: white;
        padding: 0 5px;
    }

    .mobile-links {
        display: none;
    }
}

/* small mobile view */
@media (max-width:375px) {
    html {
        font-size: 0.8rem;
    }

    .why-us-card {
        width: 150px;
        height: 120px;
    }

    /* .hero-overlay {
        padding: 70px 5%;
    } */
    /* .hero-img,.hero-overlay{
        height: auto;
    } */
}